<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="MyGet OpenSilver" value="https://www.myget.org/F/opensilver/api/v3/index.json" />
        <add key="MyGet XRSharp" value="https://www.myget.org/F/xrsharp/api/v3/index.json" />
        <add key="MyGet XRSharp Develop" value="https://www.myget.org/F/xrsharp-develop/api/v3/index.json" />
    </packageSources>
</configuration>